<div class="container">
    <md-card>
        <h1>Angulators</h1>
        <span style="float: right;">
            <iframe src="https://ghbtns.com/github-btn.html?user=kallyngowdy&repo=angulators&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>    
        </span>
        <p>Custom form validators for Angular 2.</p>

        <h2>Installation</h2>
        <high-light lang="bash" content="$ npm install -g angulators --save">
        </high-light>

        <h2>Examples</h2>

        <h4>Email Validation</h4>
        <demo-email></demo-email>

        <h4>Regex Validation</h4>
        <demo-regex></demo-regex>

        <h4>Equals Validation</h4>
        <demo-equals></demo-equals>

        <a md-button target="_blank" href="https://github.com/kallyngowdy/angulators/">View project on GitHub</a>
    </md-card>
</div>